extends layout

block content
  h1 Shortly URLs
  if err
    .alert.alert-danger
      strong Womp womp...
      |
      =err
  if success
    .alert.alert-success
      strong Yay!
      |
      |
      =success
  .add-url
    h2 Add new URL
    form.form-inline(method='POST', action='/urls/new', encType='multipart/form-data')
      input#short-name.form-control.mb-2.mr-2(type='text',
        placeholder='Short Name', name='short_name' autofocus)
      input#full-url.form-control.mb-2.mr-2(type='text',
        placeholder='Full URL', name='full_url')
      strong.mb-2.mr-2 or...
      .custom-file
        input#attachment.custom-file-input(type='file', name='attachment')
        label.custom-file-label(for='attachment')
      button.btn.btn-primary.mr-2(type='Submit') Post URL
  .url-list
    h2 All the URLs
    table
      thead
        tr
          th Short Link
          th Destination
          th
      tbody
        each url in urls
          tr
            td=url.short_name
            if url.file_name
              td= '[' + url.file_name + ']'
            else
              td= url.full_url
            td
              form(method='POST', action='/urls/delete/' + url.id)
                button.btn.btn-primary Delete
