extends layout

block content
  h1 Shortly URLs
  +alert(alertMessage, alertType)
  .log-out
    form(method='POST', action='/auth/logout')
      button.btn.btn-primary(type='Submit') Log Out
  .add-url
    h2 Add new URL
    form.form-inline(method='POST', action='/urls/new', encType='multipart/form-data')
      input(type='hidden', name='_csrf', value=csrfToken)
      input#short-name.form-control.mb-2.mr-2(type='text',
        placeholder='Short Name', name='short_name' autofocus)
      input#full-url.form-control.mb-2.mr-2(type='text',
        placeholder='Full URL', name='full_url')
      strong.mb-2.mr-2 or...
      .custom-file
        input#attachment.custom-file-input(type='file', name='attachment')
        label.custom-file-label(for='attachment')
      button.btn.btn-primary.mr-2(type='Submit') Post URL
  .url-list
    h2 All the URLs
    table
      thead
        tr
          th Short Link
          th Destination
          th
      tbody
        each url in urls
          tr
            td=url.shortName
            if url.fileName
              td= '[' + url.fileName + ']'
            else
              td= url.fullUrl
            td
              form(method='POST', action='/urls/delete/' + url.id)
                input(type='hidden', name='_csrf', value=csrfToken)
                button.btn.btn-primary Delete
